[submodule "environments/habitat/habitat-lab"]
	path = environments/habitat/habitat-lab
	url = https://github.com/shantanusingh16/habitat-lab.git
	branch = challenge-2020
[submodule "occant_utils/astar_pycpp"]
	path = occant_utils/astar_pycpp
	url = https://github.com/srama2512/astar_pycpp.git
[submodule "environments/habitat/habitat-sim"]
	path = environments/habitat/habitat-sim
	url = https://github.com/shantanusingh16/habitat-sim.git
[submodule "cross-view"]
	path = cross-view
	url = https://github.com/shantanusingh16/cross-view.git
	branch = gibson